body {
  background: linear-gradient(
    110.3deg,
    rgb(238, 179, 123) 8.7%,
    rgb(216, 103, 77) 47.5%,
    rgb(114, 43, 54) 99.1%
  );
  font-family: Helvetica, sans-serif, Arial;
}
h1 {
  color: #402a23;
  font-size: 44px;
  font-weight: bold;
  text-decoration-line: none;
  text-align: center;
}
hr {
  border-color: #f64b3c;
  height: 4px;
  width: 100%;
  background-color: #f64b3c;
  border-radius: 10%;
}
h2 {
  text-align: center;
  color: #148783;
  font-size: 30px;
  font-weight: 400;
}
p {
  text-align: center;
  color: #42240c;
  font-size: 20px;
  padding: 15px 20%;
}
img {
  display: block;
  margin: 0 auto;
  width: 650px;
  height: 400px;
  border-radius: 15%;
  border-style: ridge;
  border-color: #f64b3c;
}
ul {
  text-align: center;
  list-style: none;
  padding: 0;
  font-size: 20px;
  color: #42240c;
  font-weight: bold;
  font-style: italic;
}
.more-info {
  font-size: 15px;
}
a {
  color: #42240c;
  text-decoration: underline;
}
a:hover {
  color: #148783;
  text-decoration: underline;
}
button {
  display: block;
  margin: 0 auto;
  font-size: 25px;
  font-weight: bold;
  background-color: #00bfff;
  color: #ff1493;
  padding: 25px;
  border: none;
  border-radius: 45%;
  box-shadow: 0.5px 2px 2px #00bfff;
  transition: all 200ms ease-in-out;
}
button:hover {
  background: #ff1493;
  color: #00bfff;
  cursor: pointer;
}
.footer {
  font-size: 12px;
}
span {
  color: 402a23;
  text-decoration: underline;
}
.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  line-height: normal;
}
